@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

body, html {
    font-family: 'Cinzel', Arial, sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('forest.png');
}

h1 {
    text-align: center;
    color: #f4a460;
    text-shadow: 2px 2px 4px #000000;
}

.top-right-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.diceButton {
    height: 38px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.input-area {
    display: flex;
    align-items: center;
    width: 1450px; 
    justify-content: center;
}

.input-area input, .input-area textarea {
    width: 100%;
    padding: 10px; 
    box-sizing: border-box;
}

.text-area {
    width: 1450px; 
    height: 500px;
    margin-bottom: 10px;
}