.title {
    font-size: xx-large;
    font-weight: 600;
    font-family: 'Cinzel', serif; /* A fantasy-themed font */
    color: #f5f5dc; /* Beige color */
    text-shadow: 2px 2px 5px #000000;
}

.container {
    display: grid;
    place-content: center;
    justify-items: center;
    padding-top: 20%;
}

body {
    background-color: #575545; /* Dark background color */
    /*background-image: url('https://example.com/fantasy-background.jpg');URL to a fantasy-themed background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #f5f5dc; /* Matching text color */
}